<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form style="width: 100%;" method="post" action="/post">
        <input type="text" name="username" placeholder="write your name..." > <br>
        <textarea name="content" placeholder="Write your conteny......"></textarea><br>
        <button>POST</button>
    </form>
</body>
</html>